<h1>ZeeMee Lite</h1>

<p>Very basic Rails 7 project or use with interview questions.</p>

<p>This is just to get you started - feel free to hackity-hack - just trying to
save you some mindless setup time.</p>

<ul>
  <li><%= link_to "Admin", "/admin" %> - sample data to work with</li>
  <li><%= link_to "Sidekiq", "/sidekiq" %> - if you want to use Sidekiq</li>
  <li><%= link_to "Bootstrap", "https://getbootstrap.com/docs/5.0/getting-started/introduction/" %> for basic styling</li>
  <li><%= link_to 'Feed', feed_example_index_path %> - a terrible feed example - just to show UI helpers and get you started.</li>
  <li><%= link_to 'Feed API/Json', feed_example_index_path(format: :json) %> - same as link above - but the api response.</li>
  <li><code>app/services/redis_helper.rb</code> (see README.md) for Redis work</li>
</ul>

